* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    ;
}

/* header styles */

.header-container {
    background: rgba(229, 84, 115, 0.10);
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.header-container img {
    width: 684px;
    margin-right: 100px;
}

.header-title {
    font-size: 70px;
    color: #272727;
}

.header-description {
    color: rgba(39, 39, 39, 0.60);
    width: 580px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn-primary {
    padding: 15px 40px;
    background-color: #E55473;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 20px;
}

.profile-pic {
    width: 600px;
    height: 650px;
}

.btn-primary:hover {
    box-shadow: 5px 10px 10px #df8c9e;
}

/* main part styles */
main {
    max-width: 100vw;
}

.feature-container {
    text-align: center;
    margin-top: 100px;
    width: 550px;
    margin-left: 640px;
    margin-bottom: 80px;
}

.feature-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    text-align: center;

}

.feature-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
}

.feature-flowers-container {
    display: flex;
    width: 80%;
    margin-top: 50px;
    gap: 50px;
    margin: auto;
    margin-bottom: 100px;

}

.feature-flower1 {
    width: 480px;
    height: 380px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    background-image: url('img/pngwing\ 6.png');
    background-repeat: no-repeat;
    background-size: 230px;
    background-position: bottom center;
}

.feature-flower2 {
    width: 480px;
    height: 380px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    background-image: url('img/pngwing\ 5.png');
    background-repeat: no-repeat;
    background-size: 270px;
    background-position: center;
}

.feature-flower3 {
    width: 480px;
    height: 380px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    background-image: url('img/pngwing\ 7.png');
    background-repeat: no-repeat;
    background-size: 250px;
    background-position: center bottom;
}

.feature-flower-title {
    margin-top: 400px;
    text-align: center;
    text-decoration-line: underline;
    font-size: 22px;
    color: #272727;
    font-weight: 700;
}

.support-container {
    width: 80%;
    height: 280px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    margin-top: 160px;
    margin: auto;
    display: flex;
    justify-content: space-around;

}

.support {
    margin-top: 70px;
    text-align: center;
}

.support p {
    color: rgba(39, 39, 39, 0.80);
    font-size: 20px;
    font-weight: 600;
    line-height: 40px;
    margin-top: 10px;
}

.hot-deal {
    width: 100%;
    height: 400px;
    background: rgba(229, 84, 115, 0.05);
    margin-top: 100px;

}

span {
    color: #E55473;
}

.hot-deal-container {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: space-around;
}

.hot-deal-container img {
    width: 300px;
    margin-right: 80px;
}

.hot-deal-text {
    width: 550px;
    margin: auto;
}

.hot-deal-title {
    font-size: 40px;
    font-weight: 800;
    color: #272727;
}

.hot-deal-description {
    font-size: 18px;
    font-weight: 400;
    color: rgba(39, 39, 39, 0.60);
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Instagram section */
.instagram-content {
    text-align: center;

}

.instagram-title {
    font-family: 'Lato', sans-serif;
    color: #272727;
    font-size: 30px;
    margin-top: 80px;
    margin-bottom: 30px;
}

.instagram-description {
    font-family: 'Lato', sans-serif;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    margin-bottom: 80px;
}

.instagram-image {
    display: flex;
    justify-content: center;
    gap: 30px;

}





.subscribe {
    width: 80%;
    height: 350px;
    background-image: url('img/Rectangle\ 9.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    border-radius: 5px;
    margin-bottom: 60px;
    text-align: center;
    display: flex;

}

.subscribe-container {
    margin-left: 100px;
    margin-top: 100px;
    position: absolute;
    text-align: center;


}

.subscribe-container h1 {
    color: #272727;
    font-size: 40px;
    font-weight: 800;

}

.subscribe-container p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 50px;
}

.form input {
    padding: 20px 220px;
    border: 0;
    background-color: #fff;
    border-radius: 8px;

}

#btn-orang {
    padding: 15px 40px;
    background-color: #E55473;
    color: #fff;
    font-size: 20px;
    font-weight: 800;
    border: 0;
    border-radius: 8px;
    margin-left: 10px;
}

/* Footer section */
footer {
    background-color: #111010;
    text-align: center;
    padding: 100px;
}

.footer-title {
    padding-top: 20px;
}

.footer-title-first-part {
    color: #E55473;
    font-family: 'Lato', sans-serif;
}

.footer-title-second-part {
    color: #FFFFFF;
    font-family: 'Lato', sans-serif;
}

.footer-description {
    color: rgba(255, 255, 255, 0.90);
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.copy-right {
    color: rgba(255, 255, 255, 0.40);
    font-family: 'Lato', sans-serif;
    font-size: 10px;
    padding-bottom: 50px;
}